[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=QElectroTech 
TryExec=qelectrotech
Exec=qelectrotech %F
Icon=qelectrotech
Terminal=false
Type=Application
MimeType=application/x-qet-project;application/x-qet-element;application/x-qet-titleblock;
Categories=Office;Qt;VectorGraphics;Science;Electricity;Engineering;
Comment=An electric diagrams editor.
Comment[fr]=Un éditeur de schémas électriques
Comment[fr_FR]=Un éditeur de schémas électriques
Comment[ar]=مُحرّر مخططات كهربائية
Comment[ar_AR]=مُحرّر مخططات كهربائية
Comment[es]=Un editor de esquemas eléctricos
Comment[ru]=Редактор электрических схем
Comment[ru_RU]=Редактор электрических схем
Comment[pt]=Um editor de esquemas eléctricos
Comment[pt_PT]=Um editor de esquemas eléctricos
Comment[cs]=Editor výkresů elektrických obvodů
Comment[cs_CZ]=Editor výkresů elektrických obvodů
Comment[pl]=Edytor schematów elektrycznych
Comment[pl_PL]=Edytor schematów elektrycznych
Comment[it]=Un programma per disegnare schemi elettrici
Comment[it_IT]=Un programma per disegnare schemi elettrici
GenericName=Electric diagrams editor
GenericName[fr]=Un éditeur de schémas électriques
GenericName[fr_FR]=Un éditeur de schémas électriques
GenericName[ar]=مُحرّر مخططات كهربائية
GenericName[ar_AR]=مُحرّر مخططات كهربائية
GenericName[es]=Un editor de esquemas eléctricos
GenericName[ru]=Редактор электрических схем
GenericName[ru_RU]=Редактор электрических схем
GenericName[pt]=Editor de esquemas eléctricos
GenericName[pt_PT]=Editor de esquemas eléctricos
GenericName[cs]=Editor výkresů elektrických obvodů
GenericName[cs_CZ]=Editor výkresů elektrických obvodů
GenericName[pl]=Edytor schematów elektrycznych
GenericName[pl_PL]=Edytor schematów elektrycznych
GenericName[it]=Un programma per disegnare schemi elettrici
GenericName[it_IT]=Un programma per disegnare schemi elettrici
