[Desktop Entry]
Type=MimeType
MimeType=application/x-qet-project
Icon=application-x-qet-project
DefaultApp=qelectrotech
Patterns=*.qet;
Comment=QElectroTech project file
Comment[fr]=Fichier projet QElectroTech
Comment[es]=Archivo proyecto QElectroTech
