[Desktop Entry]
Type=MimeType
MimeType=application/x-qet-project
Icon=application-x-qet-project
DefaultApp=qelectrotech
Patterns=*.qet;
Comment=QElectroTech project file
Comment[de]=QElectroTech Projekt
Comment[fr]=Fichier projet QElectroTech
Comment[ar]=QElectroTech ملف مشروع
Comment[es]=Archivo proyecto QElectroTech
Comment[ca]=Fitxer projecte QElectroTech
Comment[ru]=Файл проекта QElectroTech
Comment[ru_RU]=Файл проекта QElectroTech
Comment[pt]=Ficheiro de projecto QElectroTech
Comment[pt_PT]=Ficheiro de projecto QElectroTech
Comment[cs]=Soubor s projektem pro QElectroTech
Comment[pl]=Plik projektu QElectroTech
Comment[it]=File del progetto QElectroTech
Comment[el]=Αρχείο έργου QElectroTech
Comment[nl]=QElectroTech project bestand
Comment[be]=QElectroTech project bestand
