[Desktop Entry]
Type=MimeType
MimeType=application/x-qet-element
Icon=application-x-qet-element
DefaultApp=qelectrotech
Patterns=*.elmt;
Comment=QElectroTech element file
Comment[fr]=Fichier élément QElectroTech
Comment[es]=Archivo elemento QElectroTech
