[Desktop Entry]
Type=MimeType
MimeType=application/x-qet-element
Icon=application-x-qet-element
DefaultApp=qelectrotech
Patterns=*.elmt;
Comment=QElectroTech element file
Comment[de]=QElectrotech Symbol
Comment[fr]=Fichier élément QElectroTech
Comment[ar]=QElectrotech ملف عنصر 
Comment[es]=Archivo elemento QElectroTech
Comment[ca]=Fitxer símbol QElectroTech
Comment[ru]=Файл элемента QElectroTech
Comment[ru_RU]=Файл элемента QElectroTech
Comment[pt]=Ficheiro de elemento QElectroTech
Comment[pt_PT]=Ficheiro de elemento QElectroTech
Comment[cs]=Soubor s prvkem pro QElectroTech
Comment[pl]=Plik elementu QElectroTech
Comment[it]=File del progetto QEletroTech
Comment[el]=Αρχείο στοιχείου QEletroTech
Comment[nl]=QElectroTech element bestand
