*.snap
.flatpak-builder
# Qt build output
*.user
# CMake/Ninja local build tree (custom Trovo Tech dev build)
/build/
# doxygen Doxyfile output
doc/*
!doc/QElectroTech.qch
QElectroTech.tag
!doc/doc-utils