*.snap
.flatpak-builder
# Qt build output
*.user
# doxygen Doxyfile output
doc/
QElectroTech.tag
BackupModifiedFilesDueToSQLITE3/qelectrotech.pro
BackupModifiedFilesDueToSQLITE3/sources/dataBase/projectdatabase.cpp
qelectrotech.pro
qelectrotech.pro
sources/dataBase/projectdatabase.cpp
