[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "SingleApplication"]
	path = SingleApplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "elements"]
	path = elements
	url = https://github.com/qelectrotech/qelectrotech-elements.git

[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/Int-Circuit/doxygen-awesome-css.git
