*.snap
.flatpak-builder
# Qt build output
*.user
# doxygen Doxyfile output
doc/*
!doc/QElectroTech.qch
QElectroTech.tag
!doc/doc-utils
lang/*.qm

# -- IDE settings/intermediate files --
# zed
.zed
.cache

# VS Code
.vscode
